MITD.PMS.ACL.CalculationEngine/Service References/CalculationEngineRef/MITD.PMS.Domain.Model.Periods1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MITD.PMS.Domain.Model.Periods" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MITD.PMS.Domain.Model.Periods" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PeriodEngineState">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MessageList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Percent" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodEngineState" nillable="true" type="tns:PeriodEngineState" />
</xs:schema>